body {
  margin: 0;
  padding: 0;
  font-size: 0.9rem; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0 !important; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px !important;
    padding: 0px !important; } }
.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important; }

/*------font size--------*/
.fnt-3-0 {
  font-size: 3em !important; }

.text-orange {
  color: orange !important; }

.ul-none {
  list-style-type: none; }

/*-----custom-----*/
.text__custom--500, .a--link, .btn--big {
  text-transform: uppercase;
  font-weight: 500;
  font-size: .9rem; }

.text__content {
  padding: 1rem;
  margin: 1rem; }
  .text__content span {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase; }

.img--fit-cover, .hero__img .img__item img, .list-box .list-box__item .list-box__img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.full-div, .hero__img .img__item {
  width: 100%;
  height: 100%;
  overflow: hidden; }

/*---------a-----*/
.a--link {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }

.a--link:hover {
  color: #ff8200;
  text-decoration: none;
  cursor: pointer; }

.nav-item {
  padding: 0 .5rem; }

.navbar-menu-top {
  padding-top: .5rem;
  padding-bottom: .5rem;
  transition: all .5s ease; }
  .navbar-menu-top .navbar-brand .logo-esoft {
    width: 8rem; }

#top-menu .top-menu__sub {
  min-width: 10vw;
  max-width: 15vw;
  position: absolute; }
  #top-menu .top-menu__sub .top-menu__sub--item {
    min-width: 10rem;
    padding: 0 1.5rem;
    transition: all .3s; }
  #top-menu .top-menu__sub .top-menu__sub--item:hover {
    padding-left: .5rem;
    background-color: rgba(255, 255, 255, 0.5); }

.arrow--down::after {
  font-family: FontAwesome;
  content: "\f107"; }

.magic-line::after {
  content: '';
  display: block;
  width: 0rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background-color: #ff8200;
  transition: width .3s ease; }

.magic-line:hover::after {
  width: 100%; }

.hero {
  position: relative;
  display: flex;
  height: 39rem;
  margin: 4.5rem 0; }
  .hero__content {
    width: 40%;
    height: 100%;
    align-items: center;
    display: flex; }
    .hero__content .content__button {
      text-align: center;
      padding: 0 1rem; }
    .hero__content .content__list {
      overflow: hidden; }
  .hero__img {
    width: 60%;
    height: 100%;
    clip-path: polygon(23% 0, 100% 0, 100% 100%, 19% 100%, 0 73%);
    overflow: hidden;
    text-align: center; }
    .hero__img .img__item {
      display: none; }

.content__item {
  display: none;
  width: 100%;
  padding: .5rem;
  transition: all .3s ease;
  margin: 0 auto;
  overflow: hidden; }
  .content__item .content__title {
    font-size: 2.4rem;
    display: block;
    font-weight: 700;
    text-transform: uppercase; }
  .content__item .content__description {
    padding: 1rem;
    max-width: 100%;
    min-height: 10rem; }
    .content__item .content__description span {
      color: #8c8c8c;
      display: block; }

.content__item.active, .img__item.active {
  display: block !important; }

.btn--circle {
  min-width: 4rem;
  min-height: 4rem;
  position: relative;
  border: 0.2rem solid #ff8200;
  border-radius: 50%;
  background-color: white;
  margin: 2rem;
  transition: all .3s ease; }
  .btn--circle span {
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 500;
    transform: translate(-50%, -50%); }

.btn--circle.active {
  background-color: #ff8200; }

.btn--circle:hover {
  cursor: pointer;
  background-color: rgba(255, 130, 0, 0.5); }

.btn--orange {
  background-color: #ff8200; }

.btn--big {
  letter-spacing: 0.1rem;
  min-width: 10rem;
  min-height: 3rem;
  margin: .5rem;
  transition: all .5s; }

.btn--big:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0 0.5rem 0 #8c8c8c; }

.btn--outline {
  border-radius: .1rem; }

.list-box {
  width: 100%;
  display: flex;
  padding: 1rem;
  margin: 1rem 0;
  overflow: hidden; }
  .list-box .list-box__item {
    max-height: 30rem;
    display: inherit;
    align-items: center;
    overflow: hidden; }
    .list-box .list-box__item .list-box__img {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: .2rem;
      transition: all .5s; }
    .list-box .list-box__item .list-box__img:hover {
      filter: brightness(0.5); }
  .list-box .list-box--right, .list-box .list-box--left {
    padding: 1rem;
    text-align: center; }
  .list-box .list-box--right {
    width: 40%; }
  .list-box .list-box--left {
    width: 60%; }

.list-box--reverse {
  flex-direction: row-reverse; }

.btn-in-topSlide {
  font-size: 0.9em !important;
  border-radius: 1em !important;
  font-weight: 500 !important;
  width: 15em !important;
  height: 4.5em !important;
  transition: transform .5s !important;
  box-shadow: 0em 0.5em 2em -1em black; }

.btn-in-topSlide:hover {
  transform: translateY(-10px); }

.card__list {
  width: 100%;
  display: flex;
  padding: .5rem;
  justify-content: center;
  flex-wrap: wrap; }
  .card__list .card__item {
    min-width: 16.5rem;
    min-height: 16.5rem;
    border-radius: .2rem;
    border: .01rem solid #ccc;
    text-align: center;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    transition: all .5s ease; }
    .card__list .card__item .card__img {
      width: 100%;
      height: auto;
      margin: 1rem auto; }
    .card__list .card__item .card__description {
      margin: auto 0; }

.card__item:hover {
  transform: scale(1.1);
  box-shadow: 0em 0em 0.5em 0em #8c8c8c; }

@media only screen and (min-width: 992px) {
  .nav-item:hover .top-menu__sub {
    display: block; } }
@media only screen and (max-width: 992px) {
  .hero {
    flex-direction: row-reverse; }
    .hero__img {
      width: 100%;
      clip-path: none;
      filter: brightness(0.5); }
    .hero__content {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1; }

  #top-menu .top-menu__sub {
    position: relative; }

  .top-nav {
    height: 20rem; }

  .navbar-nav.nav-link {
    padding-right: 1rem;
    padding-left: 0rem; }

  .navbar-collapse {
    position: absolute;
    top: 73px;
    left: 0;
    height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 30%;
    transform: translateX(-100%);
    transition: all .3s ease;
    display: none; }

  .navbar-collapse.collapsing {
    position: absolute;
    height: 100vh !important;
    transition: all .3s ease;
    display: block; }

  .navbar-collapse.show {
    transform: translateX(0%); }

  .content__list .content__item .content__title {
    color: white; } }
@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: row-reverse; }
    .hero__img {
      width: 100%;
      clip-path: none;
      filter: brightness(0.5); }
    .hero__content {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
      flex-direction: column-reverse; }
      .hero__content .content__button {
        display: flex; }
      .hero__content .content__list {
        text-align: center; }

  .list-box {
    margin: 0;
    padding: 0 1rem;
    display: block; }
    .list-box .list-box--right, .list-box .list-box--left {
      width: 100%;
      text-align: center; }
    .list-box .list-box__item {
      max-height: 50vh; }
      .list-box .list-box__item .content__item {
        display: flex; } }
@media only screen and (max-width: 576px) {
  .btn--circle {
    margin: .4rem; } }
/* width */
::-webkit-scrollbar {
  width: .5rem; }

/* Track */
::-webkit-scrollbar-track {
  background-color: lightgray; }

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #ff8200;
  border-radius: .4rem; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4da6ff; }

/*# sourceMappingURL=output.css.map */
